<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      {% for author_id, img_rows in data.items() %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading_{{ author_id }}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse_{{ author_id }}" aria-expanded="false" aria-controls="flush-collapse_{{ author_id }}">
              Author {{ author_id }}
            </button>
          </h2>
          <div id="flush-collapse_{{ author_id }}" class="accordion-collapse collapse" aria-labelledby="flush-heading_{{ author_id }}" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <table class="table">
                <tbody>
                  <thead>
                    <tr>
                      {% for path in paths %}
                      <th scope="col" alt={{ path }}>{{ path|truncate(32, True, '...') }}</th>
                      {% endfor %}
                    </tr>
                  </thead>
                  {% for img_row in img_rows %}
                  <tr>
                    {% for img in img_row %}
                    <td>
                      <img src="{{ img }}" loading="lazy" alt="..." class="img-thumbnail">
                    </td>
                    {% endfor %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>